.ui-accordion {
  .slds-accordion__summary-heading {
    position: relative;

    .ui-icon {
      position: absolute;
      right: 0;
    }
  }

  .slds-is-open {
    .ui-icon {
      transform: rotate(180deg);
    }
  }
}
