.ui-breadcrumbs {
  font-family: 'EuclidSquare-Medium', sans-serif;

  .slds-breadcrumb__item {
    &::before {
      color: #0076cf;
    }

    > a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .ui-breadcrumbs__text--truncated {
    padding: 0 8px;
    color: #0076cf;
  }
}
