// own comp. file
.ui-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  height: 32px;
  min-width: 120px;
  padding: 8px 16px;
  margin-right: 16px;
  font-size: 14px;
  color: #171717;
  border: none;
  transition: all 200ms ease-in-out;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
  }

  &:last-child {
    margin-right: 0;
  }

  &-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
  }

  &-group--right {
    justify-content: flex-end;
  }

  &--default {
    color: #002f6c;
    border: 1px solid #002f6c;
    background-color: #fff;

    &:hover {
      color: #002f6c;
      border: 1px solid #002f6c;
      background-color: #f3f2f2;
    }

    &:focus {
      color: #2b2826;
      border: 1px solid #2b2826;
      background-color: #fff;
    }
  }

  &--primary {
    color: #fff;
    border: 1px solid #0076cf;
    background-color: #0076cf;

    &:hover {
      color: #fff;
      border: 1px solid #002f6c;
      background-color: #002f6c;
    }
  }

  &--tertiary {
    text-transform: none;
    color: #0076cf;
    border: 1px solid #0076cf;
    border-radius: 2px;
    background-color: #fff;
  }

  &--disabled {
    color: #dddbda;
    border: 1px solid #dddbda;
    background-color: #fff;
    cursor: not-allowed;
    outline: none;
  }

  &--destructive {
    color: #fff;
    border: 1px solid #c23934;
    background-color: #c23934;
  }

  &--upload {
    justify-content: center;
    color: #fff;
    border: 1px solid #0076cf;
    border-radius: 2px;
    background-color: #0076cf;

    &:hover {
      color: #fff;
      border: 1px solid #002f6c;
      background-color: #002f6c;
    }

    img {
      position: absolute;
      left: 16px;
    }
  }

  &--upload-disabled {
    color: #fff;
    border-radius: 2px;
    background-color: #dddbda;
    cursor: not-allowed;

    img {
      position: absolute;
      left: 16px;
    }
  }

  &--selected {
    text-transform: none;
    color: #0076cf;
    border: 1px solid #0076cf;
    border-radius: 2px;
    background-color: #fff;
  }

  &--not-selected {
    text-transform: none;
    color: #0076cf;
    border: 1px solid #dddbda;
    border-radius: 2px;
    background-color: #fff;
  }

  &--breadcrumb {
    min-width: auto;
    margin-right: 4px;
    padding: 0;
    color: #0076cf;
  }

  &--close {
    min-width: auto;
    //   position: absolute;
    //   top: 32px;
    //   right: 32px;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   width: 26px;
    //   height: 26px;
    //   border: 1px solid #171717;
    //   border-radius: 2px;
    //   background-color: transparent;

    &-icon {
      display: block;
    }
  }

  &__text--hidden {
    text-indent: -9999px;
    width: 0;
    height: 0;
  }

  &--toggle {
    justify-content: space-between;
    padding-left: 0;
    border: none;
    text-transform: none;

    &:hover {
      color: #373737;
      transform: none;
      text-decoration: none;
    }

    &--open {
      .ui-button__icon--arrow {
        transition: all 300ms ease-in-out;
        transform: rotate(270deg);
      }
    }
  }

  &__icon--arrow {
    width: 8px;
    transform: rotate(90deg);
    transition: transform 300ms ease-in-out;
  }
}
