// own comp. file
.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 150px;
  padding: 8px;
  margin-right: 16px;
  font-size: 14px;
  color: #171717;
  border: none;
  transition: all 200ms ease-in-out;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }

  &-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  &--default {
    border: 1px solid #171717;
  }

  &--primary {
    color: #fff;
    border: 1px solid #171717;
    background-color: #171717;

    &:hover {
      color: #fff;
      background-color: #373737;
    }
  }

  &--close {
    position: absolute;
    top: 32px;
    right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border: 1px solid #171717;
    border-radius: 2px;
    background-color: transparent;

    &-icon {
      display: block;
    }
  }

  &:hover {
    color: #373737;
    transform: scaleX(1.03);
    text-decoration: none;
  }
}
