// FORM
.ui-form-card {
  position: relative;
  width: 100%;
  max-width: 780px;
  color: #4a4a4a;

  @include screen-large() {
    max-width: 966px;
  }

  &__header {
    position: relative;
    display: flex;
    align-items: flex-start;
    font-family: 'EuclidSquare-Medium', sans-serif;
    padding-top: 48px;
    background-color: #fff;
    max-height: inherit;

    &-title {
      display: block;
      font-size: 24px;
      padding-bottom: 24px;
    }

    &-subtitle {
      display: block;
      font-size: 14px;
      transition: all 300ms ease-in-out;
    }
  }

  &__progress-ring {
    position: absolute;
    padding-right: 32px;
    padding-bottom: 60px;

    @include screen-large() {
      padding-right: 140px;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 10px;
      width: 2px;
      height: 50%;
      background-color: #0076cf;
      content: '';
      opacity: 0;
    }
  }

  &__title-panel {
    padding-left: 56px;

    @include screen-large() {
      padding-left: 166px;
    }
  }

  &__time {
    flex: 1 0 16%;
    color: #706e6b;
    text-align: right;
  }

  &__content {
    padding: 0 52px 420px;
    max-height: 780px;
    overflow-y: scroll;
    transition: padding-top 1000ms ease-in-out;
  }

  &__form {
    max-height: 2000px;
    padding: 48px 0 48px 3px;
    transition: opacity 300ms ease-in-out, max-height 300ms 200ms ease-in-out,
      padding-top 200ms 200ms ease-in-out,
      padding-bottom 200ms 200ms ease-in-out;
  }

  .form-control-group {
    width: 100%;
  }

  .ui-form-element {
    width: 100%;
    max-width: 560px;
  }

  .ui-form-card__field-steps {
    flex: 1 0 15%;
    padding-left: 44px;
    font-family: 'EuclidSquare-Medium', sans-serif;
    font-size: 24px;
  }

  .ui-form-card__action {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px solid #dddbda;
    background-color: #fff;
  }

  .slds-progress_vertical .slds-progress__item,
  .slds-progress_vertical .slds-progress__item_content {
    align-items: flex-start;
  }

  .slds-progress_vertical .slds-progress__item:after {
    top: 0;
  }

  .slds-progress_vertical .slds-progress__item:last-child:before {
    display: none;
  }

  .slds-progress_vertical .slds-progress__item_content {
    padding-bottom: 48px;
    padding-left: 20px;
    margin-top: 0;

    @include screen-large() {
      padding-left: 130px;
    }
  }

  &--collapsed {
    .ui-form-card__form {
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0;
      overflow: hidden;
      opacity: 0;
    }

    .ui-form-card__progress-ring {
      opacity: 1;
    }

    .ui-form-card__content {
      padding-bottom: 48px;
    }
  }

  &--sticky {
    .ui-form-card__header {
      position: absolute;
      left: 0;
      z-index: 10;
      width: 100%;
      max-height: 54px;
      padding-top: 16px;
      padding-bottom: 16px;
      padding-right: 52px;
      padding-left: 52px;
      border-bottom: 1px solid #dddbda;
      background-color: #fff;
      overflow: hidden;

      &-subtitle {
        opacity: 0;
      }
    }

    .ui-form-card__form {
      padding-top: 180px;
    }
  }
}
