.ui-card {
  margin: 16px 0;
  background-color: #fff;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);

  &__header {
    padding: 28px 28px 52px;
    color: #fff;
    background-color: #0076cf;

    &-title {
      display: block;
      font-size: 20px;
    }

    &-subtitle {
      display: block;
      font-size: 20px;
    }
  }

  &__content {
    padding: 16px;

    &--padding-med {
      padding: 28px;
    }

    &--padding-lrg {
      padding: 64px;
    }
  }

  &__title {
    position: relative;
    display: flex;
    align-items: center;
    // display: block;
    font-size: 16px;

    &-text {
      padding-left: 10px;
    }

    & + .ui-card__paragraph {
      padding-top: 32px;
    }

    & + .ui-card__subtitle {
      padding: 16px 0 32px;
    }
  }

  &__paragraph {
    padding-bottom: 16px;
    font-size: 14px;
    line-height: 1.4;
  }

  &__action {
    display: flex;

    &--spread {
      justify-content: space-between;
    }
  }

  &--light-blue {
    background-color: #f4f6fa;
  }

  &--very-light-blue {
    background-color: #f2f8fc;
  }

  &--pathway {
    .ui-card__content {
      padding-right: 16px;
      padding-left: 16px;

      @include screen-medium {
        padding-right: 48px;
        padding-left: 256px;
      }
    }
  }

  &__content--head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #eaeaea;

    .ui-card__title {
      font-size: 24px;
      font-weight: 600;
    }
  }

  // Accordion inside card
  .ui-accordion {
    margin-top: 28px;
    padding-bottom: 16px;

    .slds-accordion__list-item {
      padding-bottom: 16px;
      border: 0;
    }
  }

  .slds-is-open > .slds-accordion__summary {
    margin-bottom: 0;
  }

  .slds-accordion__section {
    padding: 0;

    .ui-accordion__title {
      padding-left: 10px;
      font-size: 12px;
      color: #0076cf;
    }
  }

  dl {
    padding-left: 34px;
    font-size: 12px;

    dt {
      width: 30%;
      float: left;
      clear: left;
    }

    dd {
      width: 70%;
      margin-bottom: 4px;
      float: left;
    }

    &::after {
      display: table;
      content: '';
      clear: both;
    }
  }

  .ui-accordion__button {
    width: 100%;
  }
}
