// FORM
.ui-form-card {
  position: relative;
  width: 100%;
  max-width: 966px;
  color: #4a4a4a;

  &__header {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 48px 52px;
    font-family: 'EuclidSquare-Medium', sans-serif;
    // border-bottom: 1px solid;

    &-title {
      display: block;
      font-size: 24px;
      padding-bottom: 24px;
    }

    &-subtitle {
      display: block;
      font-size: 14px;
    }
  }

  &__progress-ring {
    padding-right: 140px;
    // flex: 1 0 10%;

    &::after {
      position: absolute;
      bottom: 0;
      left: 62px;
      width: 3px;
      height: 50%;
      background-color: #0076cf;
      content: '';
    }
  }

  &__title-panel {
    // flex: 1 0 70%;
  }

  &__time {
    flex: 1 0 16%;
    color: #706e6b;
    text-align: right;
  }

  &__content {
    padding: 0 52px 48px;
    max-height: 650px;
    overflow-y: scroll;
    transition: all 300ms ease-in-out;
  }

  &--collapsed {
    .ui-form-card__content {
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0;
      opacity: 0;
    }
  }

  .form {
    padding-left: 4px;
  }

  .form-control-group {
    width: 100%;
  }

  .ui-form-element {
    width: 100%;
    max-width: 560px;
  }

  .ui-form-card__field-steps {
    flex: 1 0 15%;
    padding-left: 44px;
    font-family: 'EuclidSquare-Medium', sans-serif;
    font-size: 24px;
  }

  .ui-form-card__action {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px solid #dddbda;
    background-color: #fff;
  }

  .slds-progress_vertical .slds-progress__item,
  .slds-progress_vertical .slds-progress__item_content {
    align-items: flex-start;
  }

  .slds-progress_vertical .slds-progress__item:after {
    top: 0;
  }

  .slds-progress_vertical .slds-progress__item:last-child:before {
    display: none;
  }

  .slds-progress_vertical .slds-progress__item_content {
    padding-bottom: 48px;
    padding-left: 130px;
    margin-top: 0;
  }
}
