.ui-checkbox-group {
  .ui-form-element__legend {
    padding-bottom: 6px;
    font-family: 'EuclidSquare-Medium', sans-serif;
    font-size: 12px;
    color: #706e6b;
  }

  .ui-form-element__checkbox {
    margin-bottom: 8px;
  }
}
