.ui-comment {
  font-family: 'EuclidSquare-Medium', sans-serif;
  color: #3c3c3c;
  line-height: 1.4;

  &__post {
    padding: 12px 10px;
    border: 0;
  }

  &__user {
    font-size: 14px;
  }

  &__time {
    color: #706e6b;
  }

  .slds-post__footer-action,
  footer {
    color: #706e6b;
  }

  footer {
    margin-top: 6px;
  }

  &__post-reply {
    font-size: 13px;
    border: 0;
    background-color: #fafaf9;

    .slds-comment {
      padding: 16px 12px;
    }
  }

  .slds-post__footer-meta-list {
    color: #706e6b;
    &.slds-has-dividers--right > .slds-item:after,
    &.slds-has-dividers--right > .slds-list__item:after,
    &.slds-has-dividers_right > .slds-item:after,
    &.slds-has-dividers_right > .slds-list__item:after {
      width: 3px;
      height: 3px;
      margin-left: 4px;
      margin-right: 4px;

      background-color: #706e6b;
    }
  }

  .ui-comment__post-reply-meta-list {
    color: #706e6b;

    &.slds-has-dividers--right > .slds-item:after,
    &.slds-has-dividers--right > .slds-list__item:after,
    &.slds-has-dividers_right > .slds-item:after,
    &.slds-has-dividers_right > .slds-list__item:after {
      width: auto;
      height: auto;
      content: '';
      margin-left: 8px;
      margin-right: 8px;
      border-radius: 0;
      background-color: transparent;
    }
  }
}
