.ui-data-table {
  thead {
    .slds-icon_container {
      margin-left: 8px;
    }

    th {
      padding: 8px;
    }
  }

  .slds-table:not(.slds-no-row-hover) tbody tr:hover > td {
    background-color: #e5f1fa;
    box-shadow: none;
  }

  .slds-th__action,
  th,
  td {
    padding: 10px;
  }

  tr {
    th {
      font-family: 'EuclidSquare-Medium', sans-serif;
    }
  }

  td {
    a {
      line-height: 1.4;
      color: #0076cf;

      &:hover {
        text-decoration: none;
      }
    }
  }

  tbody {
    tr {
      td {
        &:nth-child(1),
        &:nth-child(2) {
          font-family: 'EuclidSquare-Medium', sans-serif;
        }
      }
    }
  }

  [aria-multiselectable='true'] tr th {
    padding: inherit;
  }

  [aria-multiselectable='true'] tbody {
    tr {
      td {
        &:nth-child(3) {
          font-family: 'EuclidSquare-Medium', sans-serif;
        }
      }
    }
  }
}
