.ui-date-picker {
  color: #706e6b;

  .ui-form-element__label {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 6px;
    margin-bottom: 10px;

    img {
      max-width: auto;
    }
  }

  .ui-date-picker__button {
    border: 0;
    background-color: transparent;
  }

  .ui-form-element__control-input {
    border-radius: 2px;
  }

  .slds-datepicker__filter {
    font-family: 'EuclidSquare-Medium', sans-serif;
    color: #3e3e3c;
  }

  .slds-dropdown {
    margin-top: 6px;
    transition: all 300ms ease-in-out;
  }

  .slds-is-open {
    .slds-dropdown {
      // display: block;
    }
  }

  .slds-form_compound .slds-form-element {
    margin-right: 8px;
  }

  .slds-form_compound
    .slds-form-element__row
    .slds-form-element
    + .slds-form-element {
    padding-left: 0;
  }
}
