.ui-form-element {
  &__label {
    margin-bottom: 12px;
    font-family: 'EuclidSquare-Medium', sans-serif;
    color: #706e6b;

    &-description {
      display: block;
      padding-top: 10px;
      font-family: 'EuclidSquare-Light', sans-serif;
    }

    &-optional {
      font-family: 'EuclidSquare-Light', sans-serif;
      // color: #dddbda;
    }
  }

  &__control {
    max-width: 560px;

    *::placeholder {
      font-family: 'EuclidSquare-Medium', sans-serif;
      color: rgba(0, 0, 0, 0.25);
    }
  }

  &__control-input,
  &__control-textarea {
    font-family: 'EuclidSquare-Medium', sans-serif;
    border-radius: 2px;
  }

  .slds-form-element__help {
    padding-top: 8px;
  }
}
