.form {
  padding: 16px 256px 16px 16px;

  &-control-group {
    width: 100%;
  }

  label {
    display: inline-block;
    margin-bottom: 8px;
  }

  input[type='text'],
  textarea {
    &::placeholder {
      color: #dadada;
    }
  }

  .form-control-label {
    &--hidden {
      width: 0;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
  }

  &-control {
    display: block;
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #eaeaea;
    border-radius: 2px;
  }
}
