.ui-global-navigation {
  position: relative;
  flex-wrap: wrap;
  min-height: 64px;
  font-family: 'EuclidSquare-Medium', sans-serif;
  color: #fff;
  background-color: #002f6c;

  &__inner-wrap {
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: auto;
  }

  &__title {
    display: flex;
    align-items: center;
    flex: 0 0 30%;
    padding-left: 16px;
    margin: 8px 0;
    font-size: 22px;
    font-weight: 300;

    .ui-global-navigation__title-icon {
      max-width: 48px;
    }

    @include screen-large() {
      flex: 0 0 25%;
      min-height: 96px;
      padding-left: 56px;
      margin: 16px 0;

      .ui-global-navigation__title-icon {
        max-width: 100%;
      }
    }

    @include screen-x-large() {
      .ui-global-navigation__title-icon {
        max-width: 100%;
      }
    }
  }

  &__title-text {
    padding-left: 16px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 70%;
    height: 100%;
    padding-right: 16px;
    font-size: 16px;
    letter-spacing: 1px;

    @include screen-medium() {
      padding-left: 56px;
    }

    &-col {
      display: flex;
      align-items: center;
    }
  }

  &__action {
    display: flex;
    align-items: center;

    &--private {
      display: flex;
      align-items: center;
    }

    .ui-global-navigation__action-button {
      opacity: 1;
      transition: opacity 300ms ease-in-out;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__button {
    position: relative;
    background-color: transparent;
    border: 0;

    &--search,
    &--icon {
      margin-right: 32px;
    }

    &--menu,
    &--menu-close {
      width: 40px;
      outline: none;
    }

    &--hidden {
      display: none;
    }

    .ui-badge {
      position: absolute;
      top: -8px;
    }
  }

  &__link {
    margin-right: 56px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;

    &:hover {
      color: #fff;
      opacity: 0.5;
      text-decoration: none;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    margin-right: 32px;

    &-link {
      display: inline-flex;
      align-items: center;
      margin-right: 0;
      color: #fff;
    }

    &-avatar {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      overflow: hidden;

      @include screen-large() {
        width: 64px;
        height: 64px;
      }
    }

    &-details {
      margin-right: 16px;
      text-align: right;
      text-transform: none;

      &-company,
      &-name {
        display: block;
        font-size: 12px;
      }

      &-company {
        padding-bottom: 8px;
        font-family: 'EuclidSquare-Light', sans-serif;
      }
    }

    .ui-menu {
      margin-left: 8px;
    }
  }

  &__avatar {
    max-width: 100%;
  }

  &__context-menu-button {
    min-width: 16px;
    padding: 8px;
  }

  &__menu {
    max-width: 1440px;
    max-height: 500px;
    padding: 32px 174px;
    margin: auto;
    color: #fff;
    transition: all 300ms ease-in-out;

    &-list {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .ui-global-navigation__menu-link {
      color: #fff;
      opacity: 1;
      transition: all 300ms ease-in-out;

      &:hover,
      &:focus,
      &:active {
        color: #fff;
        opacity: 0.5;
        text-decoration: none;
      }

      &--selected {
        color: #fff;
        opacity: 0.5;

        &:hover {
          color: #fff;
        }
      }
    }

    &--hidden {
      padding: 0 174px;
      max-height: 0;
    }
  }

  // Hamburger plugin override
  // https://jonsuh.com/hamburgers/
  .hamburger {
    padding: 0;

    &-inner,
    &-inner::before,
    &-inner::after {
      width: 24px;
      height: 4px;
      background-color: #fff;
      border-radius: 1px;
    }

    &.is-active {
      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        background-color: #fff;
      }
    }

    &:hover {
      opacity: 1;
    }
  }
}
