.ui-global-navigation {
  position: relative;
  flex-wrap: wrap;
  min-height: 80px;
  color: #fff;
  background-color: #002f6c;

  @include screen-medium() {
    min-height: 94px;
  }

  &__inner-wrap {
    display: flex;
    align-items: center;
  }

  &__title {
    flex: 0 0 30%;
    padding-left: 16px;
    font-size: 22px;
    font-weight: 300;

    @include screen-large() {
      flex: 0 0 25%;
      padding-left: 56px;
    }
  }

  &__title-text {
    padding-left: 16px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 70%;
    height: 100%;
    padding-right: 16px;
    font-size: 16px;

    @include screen-medium() {
      padding-left: 56px;
    }

    &-col {
      display: flex;
      align-items: center;
    }
  }

  &__action {
    display: flex;
    align-items: center;

    &--private {
      display: flex;
      align-items: center;
    }
  }

  &__button {
    background-color: transparent;
    border: 0;

    &--search,
    &--icon {
      margin-right: 32px;

      @include screen-large() {
        margin-right: 62px;
      }
    }

    &--menu,
    &--menu-close {
      width: 40px;
      outline: none;
    }

    &--hidden {
      display: none;
    }
  }

  &__link {
    margin-right: 64px;
    color: #fff;
    transition: all 300ms ease-in-out;

    &:hover {
      color: #59cbe8;
      text-decoration: none;
      transform: scale(0.8);
    }
  }

  &__user {
    margin-right: 16px;

    &-link {
      margin-right: 0;
    }

    &-name {
      margin-right: 8px;
    }
  }

  &__menu {
    width: 100%;
    max-height: 500px;
    padding: 32px 174px;
    color: #fff;
    transition: all 300ms ease-in-out;

    &-list {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .ui-global-navigation__menu-link {
      color: #fff;
      opacity: 0.5;
      transition: all 300ms ease-in-out;

      &:hover,
      &:focus,
      &:active {
        color: #59cbe8;
        opacity: 1;
        text-decoration: none;
      }

      &--selected {
        color: #fff;
        opacity: 1;

        &:hover {
          color: #fff;
        }
      }
    }

    &--hidden {
      padding: 0 174px;
      max-height: 0;
    }
  }

  // Hamburger plugin override
  // https://jonsuh.com/hamburgers/
  .hamburger {
    padding: 0;

    &-inner,
    &-inner::before,
    &-inner::after {
      width: 32px;
      height: 1px;
      background-color: #fff;
      border-radius: 0;
    }

    &.is-active {
      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        background-color: #fff;
      }
    }

    &:hover {
      opacity: 1;
    }
  }
}
