.global-navigation {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 80px;
  color: #fff;
  background-color: #002f6c;

  @include screen-medium() {
    min-height: 112px;
  }

  &__title {
    flex: 0 0 25%;
    padding-left: 56px;
    font-size: 22px;
    font-weight: 300;
  }

  &__title-text {
    padding-left: 16px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 75%;
    height: 100%;
    padding-right: 56px;
    font-size: 16px;

    &-col {
      display: flex;
      align-items: center;
    }
  }

  &__action {
    display: flex;
    align-items: center;

    &--private {
      display: flex;
      align-items: center;
    }
  }

  &__button {
    background-color: transparent;
    border: 0;

    &--search,
    &--icon {
      margin-right: 62px;
    }

    &--hidden {
      display: none;
    }
  }

  &__link {
    margin-right: 64px;
    color: #fff;
    transition: all 300ms ease-in-out;

    &:hover {
      color: #59cbe8;
      text-decoration: none;
      transform: scale(0.8);
    }
  }

  &__user {
    margin-right: 16px;

    &-link {
      margin-right: 0;
    }

    &-name {
      margin-right: 8px;
    }
  }

  &__menu {
    width: 100%;
    padding: 32px 174px;
    color: #fff;

    &-list {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .global-navigation__menu-item {
      a {
        color: #fff;
        opacity: 0.5;
        transition: all 300ms ease-in-out;

        &:hover {
          opacity: 1;
          text-decoration: none;
        }
      }
    }

    &--hidden {
      // opacity: 0;
      // padding: 0;
      // height: 0;
      display: none;
    }
  }

  &__search-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    // display: none; // use in JS interaction
    opacity: 0;
    width: 100%;
    min-height: 200px;
    color: #fff;
    background-color: #0076cf;
    transition: all 300ms ease-in-out;

    .global-navigation--expanded & {
      z-index: 1100;
      opacity: 1;
    }

    &-action {
      display: flex;
      justify-content: space-between;
      padding: 32px 32px 0 0;

      @include screen-medium() {
        padding-left: 198px;
      }
    }

    &-input {
      width: 100%;
      margin: 0 32px 0 96px;
      font-size: 24px;
      color: #fff;
      border: 0;
      background-color: #0076cf;

      &::placeholder {
        font-size: 24px;
        color: rgba(255, 255, 255, 0.3);
      }
    }

    &-results {
      @include screen-medium() {
        padding-top: 16px;
        padding-left: 314px;
      }

      li {
        padding-bottom: 32px;
      }

      a {
        font-size: 16px;
        color: #fff;
      }
    }
  }
}
