.ui-form-element__label {
  margin-bottom: 12px;
}

.ui-form-element__control-input {
  max-width: 560px;
  border-radius: 2px;
}

.ui-form-element__control-textarea {
  max-width: 560px;
  border-radius: 2px;
}
