.next-steps {
  color: #4a4a4a;

  &__head {
    padding: 32px 32px 16px;
  }

  &_list {
    padding-bottom: 32px;
  }

  &__item {
    font-size: 14px;
    border-top: 1px solid #c4c4c4;

    &:last-child {
      border-bottom: 1px solid #c4c4c4;
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px 0;
      color: #4a4a4a;
      transition: all 200ms ease-in-out;

      &:hover {
        padding: 16px;
        color: #333;
        background-color: #fff;
        text-decoration: none;
      }
    }

    &-info {
      font-family: 'TSTAR-Medium', sans-serif;
    }
  }
}

.next-step__continue {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 16px;

  .button {
    display: block;
    right: 0;
    color: #171717;

    &:hover {
      color: #333;
      text-decoration: none;
    }
  }
}
