.ui-page-header {
  font-family: 'EuclidSquare-Medium', sans-serif;
  color: #515151;
  background-color: #fff;
  padding-bottom: 16px;

  &__wrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .ui-page-header__col {
      flex: 1 0 50%;

      &:first-child {
        padding-right: 32px;
      }

      &:last-child {
      }
    }
  }

  &__col {
    flex: 1 0 50%;

    &:first-child {
    }

    &:last-child {
    }
  }

  &__title {
    margin-bottom: 12px;
    font-size: 32px;
  }

  &__subtitle {
    font-size: 18px;

    & ~ .ui-breadcrumbs {
      padding-top: 32px;
    }
  }
}
