.ui-path-card {
  position: relative;
  width: 100%;
  max-width: 770px;
  color: #4a4a4a;
  overflow: hidden;

  @include screen-large() {
    max-width: 966px;
  }

  &__header {
    font-family: 'EuclidSquare-Medium', sans-serif;
    padding-top: 32px;
    background-color: #fff;
    max-height: inherit;

    &-top {
      position: relative;
      display: flex;
      align-items: flex-start;
    }

    &-panel {
      flex: 1;
      padding-left: 60px;
      padding-bottom: 32px;
    }

    &-title {
      display: block;
      font-size: 24px;
      padding-bottom: 24px;
    }

    &-subtitle {
      display: block;
      font-size: 14px;
      transition: all 300ms ease-in-out;
    }
  }

  &__progress-updates {
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 20px;
    font-size: 14px;
    border-bottom: 1px solid #eaeaea;
  }

  &__text {
    font-size: 14px;
    line-height: 1.4;
  }

  &__progress-ring {
    position: absolute;
    padding-right: 32px;
    padding-bottom: 60px;

    @include screen-large() {
      padding-right: 140px;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 10px;
      width: 2px;
      height: 50%;
      background-color: #0076cf;
      content: '';
      opacity: 0;
    }
  }

  &__time {
    position: absolute;
    right: 0;
    bottom: 12px;
    color: #706e6b;
    text-align: right;
    text-transform: uppercase;
  }

  &__content {
    padding: 0 32px 32px;
    max-height: 780px;
    overflow-y: scroll;
    transition: padding-top 1000ms ease-in-out;
    overflow: hidden;

    &::before {
      position: absolute;
      top: 64px;
      left: 43px;
      content: '';
      width: 2px;
      height: 0;
      opacity: 0;
      background-color: #0076cf;

      animation: retractLine 1000ms ease-in-out forwards;
    }

    .ui-path-card--collapsed & {
      &::before {
        height: 100%;
        animation: expandLine 1000ms 300ms ease-in-out forwards;
      }
    }
  }

  &__details {
    max-height: 1000px;
    transition: all 400ms ease-in-out;

    &-item {
      width: 100%;
      padding: 16px 0;
      border-top: 1px solid #eaeaea;
      color: #4a4a4a;
      transition: background-color 300ms ease-in-out;

      &:hover {
        color: #171717;
        text-decoration: none;
        background-color: #f5f5f5;
      }
    }

    &-item-name {
      display: block;
      padding-bottom: 8px;
      font-family: 'EuclidSquare-Medium', sans-serif;
      font-size: 14px;
    }

    &-item-info {
      display: block;
      font-size: 14px;
    }

    .slds-progress__item {
      &:last-child {
        &.ui-path-card__details-item {
          border-bottom: 1px solid #eaeaea;
        }
      }
    }

    .ui-path-card--collapsed & {
      max-height: 0;
      padding-top: 0;
      overflow: hidden;
      opacity: 0;
    }
  }

  .slds-progress_vertical .slds-progress__item_content {
    padding-bottom: 0;
    margin-top: 0;
    margin-left: 24px;
  }

  &__action {
    .ui-button-group {
      padding: 16px 0 0 40px;
    }

    .ui-button__text {
      padding-right: 32px;
      color: #4a4a4a;
      text-transform: none;
      letter-spacing: normal;
    }
  }

  &.ui-path-card--collapsed .ui-path-card__button--show-details {
    .ui-icon {
      transform: rotate(0deg);
      transition: all 400ms ease-in-out;
    }
  }

  .ui-path-card__button--show-details {
    &:focus {
      outline: none;
    }

    .ui-icon {
      transform: rotate(180deg);
      transition: all 400ms ease-in-out;
    }
  }
}
