.ui-picklist {
  height: 64px;
  font-family: 'EuclidSquare-Medium', sans-serif;
  color: #2b2826;

  ::placeholder {
    color: #2b2826;
  }

  .ui-form-element__label {
    font-size: 14px;
  }

  .slds-is-open ::placeholder,
  .slds-is-open input[value] {
    color: #0076cf;
  }

  .slds-listbox__option-header {
    color: #706e6b;
    text-transform: uppercase;
  }
}
