.ui-popover {
  .slds-popover {
    min-width: 384px;
    padding-bottom: 0;
    font-family: 'EuclidSquare-Medium', sans-serif;
    color: #626260;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);

    &_walkthrough {
      color: #fff;
      background-color: #002f6c;

      .slds-popover__header {
        padding: 16px;
        background-color: #0076cf;
      }

      .ui-form-element__control-input {
        color: #626260;
      }
    }

    .slds-popover__header {
      border: 0;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }

    &_warning .slds-popover__header {
      border-radius: 0;
    }

    &_error .slds-popover__header {
      border-radius: 0;
      background-color: #fc4c02;
    }

    p {
      line-height: 1.4;

      &:last-child {
        padding-bottom: 8px;
      }
    }

    .slds-popover__close {
      margin: 6px;
    }
  }

  .slds-button {
    line-height: inherit;
    border-radius: 0;
  }
}
