.progress-tracker {
  position: relative;
  border-bottom: 1px solid #eaeaea;
  background-color: #fff;

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    padding: 32px;
    margin: 0 auto;
  }

  &__title {
    display: flex;
    align-items: flex-start;
    font-size: 48px;

    &::before {
      position: absolute;
      left: 98px;
      bottom: 0;
      content: '';
      height: 76px;
      width: 2px;
      background-color: #171717;
    }
  }

  &__progressbar {
    flex: 0 0 50%;
    padding-right: 96px;
  }
}

.timeline-menu-button {
  margin-right: 16px;
  margin-left: 96px;
}
