.ui-progress-indicator {
  position: relative;
  padding: 40px 0 0;
  background-color: #fff;

  .slds-progress {
    max-width: 100%;
  }

  .slds-popover_tooltip {
    position: absolute;
    top: 0;
    left: calc(50% + 6px);
    background: #0076cf;
    transform: translateX(-50%);

    &.slds-nubbin--bottom::before,
    &.slds-nubbin_bottom::before {
      display: none;
    }

    &.slds-nubbin--bottom::after,
    &.slds-nubbin_bottom::after {
      bottom: -2px;
      width: 14px;
      height: 14px;
      box-shadow: none;
    }
  }

  .slds-progress__item {
    &.slds-has-error .slds-progress__marker {
      display: flex;
    }
  }

  &--vertical-rings {
    .slds-progress__item.slds-is-completed .slds-progress__marker_icon svg {
      fill: #fff;
    }

    .slds-progress__item:after,
    .slds-progress__item:before {
      // left: 12px;
    }
  }
}
