.ui-progress-ring {
  color: #706e6b;

  .slds-progress-ring__path {
    fill: #0076cf;
  }

  &.slds-progress-ring_complete {
    .slds-progress-ring__content {
      background: #0076cf;
    }
  }

  &.slds-progress-ring_warning {
    .slds-icon,
    .slds-progress-ring__path {
      fill: #ffb75d;
    }
  }

  &.slds-progress-ring_expired {
    background: #d4504c;
    .slds-icon,
    .slds-progress-ring__path {
      fill: #d4504c;
    }
  }
}
