.ui-radio-group {
  .ui-form-element__legend {
    padding-bottom: 6px;
    color: #706e6b;
  }

  .ui-form-element__radio {
    margin-bottom: 8px;
  }
  .slds-form-element__label {
    font-weight: bold;
  }
}
