.ui-form-element__radio {
  .slds-radio__label {
    display: flex;
    align-items: center;
    font-family: 'EuclidSquare-Medium', sans-serif;
    font-size: 13px;

    .slds-radio_faux {
      margin-right: 8px;
    }
  }
}

.slds-form-element__label {
  padding-top: 0;
  font-weight: bold;
}
