.ui-search-bar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  // display: none; // use in JS interaction
  opacity: 0;
  width: 100%;
  min-height: 200px;
  color: #fff;
  background-color: #0076cf;
  transition: all 300ms ease-in-out;

  &__action {
    display: flex;
    justify-content: space-between;
    padding: 32px 32px 0 32px;

    @include screen-large() {
      padding-left: 198px;
    }
  }

  &__input {
    width: 100%;
    margin: 0 32px 0 96px;
    font-size: 24px;
    color: #fff;
    border: 0;
    background-color: #0076cf;

    &::placeholder {
      font-size: 24px;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &__results {
    padding-top: 48px;
    padding-left: 148px;

    @include screen-large() {
      padding-left: 314px;
    }

    li {
      padding-bottom: 32px;
    }

    a {
      font-size: 16px;
      color: #fff;
    }
  }

  &__button {
    background-color: transparent;
    border: 0;

    &--search,
    &--icon {
      margin-right: 32px;

      @include screen-large() {
        margin-right: 62px;
      }
    }

    &--hidden {
      display: none;
    }
  }

  // STATES
  &--is-open {
    z-index: 1100;
    opacity: 1;
  }
}
