{% extends '_layout.html' %}

{% block content %}
<article class="page">
  <header class="page-header">
    <div class="page-header__top-tier">
      {% include 'components/main-navigation.html' %}
      {% include 'components/progress-tracker.html' %}
    </div>
  </header>
  <div class="page__inner">

    <section class="page-section slds-grid slds-gutters">
      <div class="slds-col slds-small-size_1-of-2 slds-large-size_8-of-12">

        <div class="form-card card">
          <div class="card__head">
            <h2 class="card__title card__title--level-3">
              <span>1</span> Prepare company documents</h2>
          </div>
          <div class="card__content">
            {% include 'components/forms/company-details.html' %}
          </div>
        </div>

      </div>
      <div class="slds-col slds-small-size_1-of-2 slds-large-size_4-of-12">
        {% include 'components/next-steps-panel.html' %}
      </div>
    </section>

  </div>
</article>
{% endblock %}