{% extends '_layout.html' %} {% block content %}
<article class="page">
  <div class="page__inner">
    <header>
      {% include 'components/main-navigation.html' %} 
      {% include 'components/progress-tracker.html' %}
    </header>

    <section class="page-section page-section--head">
      {% include 'components/announcement-panel.html' %}
      
      {% include 'components/page-tabs.html' %}
    </section>

    <section class="page-section slds-grid slds-gutters">
      <div class="slds-col slds-size_6-of-12">
        {% include 'components/path-summary.html' %}
        {% include 'components/path-summary.html' %}
        {% include 'components/path-summary.html' %}
      </div>
      <div class="slds-col slds-size_6-of-12">
        {% include 'components/next-steps-panel.html' %}
      </div>
    </section>
  </div>
</article>
{% endblock %}
