{% extends '_layout.html' %} {% block content %}
<article class="page">
  <header class="page-header">
    <div class="page-header__top-tier">
      {% include 'components/main-navigation.html' %}
      {% include 'components/progress-tracker.html' %}
    </div>
    <div class="page-header__bottom-tier">
      <div class="page-header__tier-inner">
        {% include 'components/announcement-panel.html' %}
        {% include 'components/page-tabs.html' %}
      </div>
    </div>
  </header>
  <div class="page__inner">

    <section class="page-section slds-grid slds-gutters">
      <div class="slds-col slds-small-size_1-of-2 slds-large-size_8-of-12">
        {% include 'components/path-summary.html' %}
        {% include 'components/path-summary-disabled.html' %}
      </div>
      <div class="slds-col slds-small-size_1-of-2 slds-large-size_4-of-12">
        {% include 'components/next-steps-panel.html' %}
        {% include 'components/add-panel.html' %}
      </div>
    </section>

  </div>
</article>
{% endblock %}