{% extends '_layout.html' %} {% block content %}
<article class="page landing">
  <header class="landing__header">
    <img
      class="ui-global-navigation__title-icon"
      src="/assets/svg/difc-diamond.svg"
      alt="DIFC"
    />
    <span class="ui-global-navigation__title-text">
      UI Components for DIFC App
    </span>
  </header>

  <div class="landing__inner">
    <nav class="landing__nav">
      <ol>
        <li>
          <a href="http://localhost:9001/" target="_blank">
            Storybook: UI components and their states
          </a>
        </li>
        <li><a href="/components.html">UI components interaction</a></li>
      </ol>
    </nav>
  </div>
</article>
{% endblock %}
