{% extends '_layout.html' %}

{% block content %}
<article class="page page--ui-components">
  <header class="page-header">
    <div class="page-header__top-tier">
      {% include 'components/global-navigation--c.html' %}
    </div>
    <div class="page-header__bottom-tier">
      <div class="page-header__tier-inner">
        {% include 'components/page-tabs.html' %}
      </div>
    </div>
  </header>
  <div class="page__inner">

    <section class="ui-card page-section">
      <div class="slds-grid slds-gutters">
        <div class="slds-col slds-p-horizontal_x-large">
          <h1>Accordion</h1>
          {% include 'components/accordion.html' %}
        </div>
        <div class="slds-col slds-p-horizontal_x-large">
          <h1>Date Picker</h1>
          {% include 'components/date-picker--a.html' %}
        </div>
      </div>
    </section>

    <section class="ui-card page-section">
      <div class="slds-grid slds-gutters">
        <div class="slds-col slds-p-horizontal_x-large">
          <h1>Guide Card</h1>
          {% include 'components/guide-card.html' %}
        </div>
        <div class="slds-col slds-p-horizontal_x-large">
          <h1>Next Steps Card</h1>
          {% include 'components/next-steps-card.html' %}
        </div>
      </div>
    </section>

    <section class="ui-card page-section">
      <div class="slds-grid slds-gutters">
        <div class="slds-col slds-p-horizontal_x-large">
          <h1>Marketing Card</h1>
          {% include 'components/marketing-card--a.html' %}
        </div>
        <div class="slds-col slds-p-horizontal_x-large">
          <h1>Marketing Card Without Button</h1>
          {% include 'components/marketing-card--b.html' %}
        </div>
      </div>
    </section>

    <section class="ui-card page-section">
      <div class="slds-grid slds-gutters">
        <div class="slds-col slds-p-horizontal_x-large" style="width:50%;">
          <h1>Related List Card</h1>
          {% include 'components/related-list-card.html' %}
        </div>
        <div class="slds-col slds-p-horizontal_x-large" style="width:50%;">
          <h1>Progress Bar</h1>
          {% include 'components/progress-bar--a.html' %}
        </div>
      </div>
    </section>

    <section class="ui-card page-section">
      <div class="slds-grid slds-gutters">
        <div class="slds-col slds-p-horizontal_x-large">
          <h1>Page Header with Progress Indicatrors</h1>
          {% include 'components/page-header--a.html' %}
        </div>
      </div>
    </section>

    <section class="ui-card page-section">
      <div class="slds-grid slds-gutters">
        <div class="slds-col slds-p-horizontal_x-large">

          <h1>Page Header with Progress bar</h1>
          {% include 'components/page-header--b.html' %}
        </div>
      </div>
    </section>

    <section class="ui-card page-section">
      <div class="slds-grid slds-gutters">
        <div class="slds-col slds-p-horizontal_x-large">
          <h1>Page Header</h1>
          {% include 'components/page-header--c.html' %}
        </div>
      </div>
    </section>

    <section class="ui-card page-section">
      <div class="slds-grid slds-gutters">
        <div class="slds-col slds-p-horizontal_x-large">
          <h1>Tab Bar</h1>
          {% include 'components/tab-bar--a.html' %}
        </div>
        <div class="slds-col slds-p-horizontal_x-large">
          <h1>Tab Bar Long text</h1>
          {% include 'components/tab-bar--b.html' %}
        </div>
      </div>
    </section>

    <section class="ui-card page-section">
      <div class="slds-grid slds-gutters">
        <div class="slds-col slds-p-horizontal_x-large">
          <h1>Footer</h1>
          {% include 'components/footer.html' %}
        </div>
      </div>
    </section>

    <section class="ui-card page-section">
      <div class="slds-grid slds-gutters">
        <div class="slds-col slds-p-horizontal_x-large">
          <span>1</span>
        </div>
        <div class="slds-col slds-p-horizontal_x-large">
          <span>2</span>
        </div>
      </div>
    </section>

  </div>
</article>
{% endblock %}