<div class="ui-checkbox-group">
  <fieldset class="ui-form-element slds-form-element">
    <legend
      class="ui-form-element__legend slds-form-element__legend slds-form-element__label"
    >
      Checkbox Group Label
    </legend>
    <div class="ui-form-element__control slds-form-element__control">
      <div class="ui-form-element__checkbox slds-checkbox">
        <input
          type="checkbox"
          name="options"
          id="checkbox-30"
          value="checkbox-30"
        />
        <label
          class="ui-form-element__checkbox-label slds-checkbox__label"
          for="checkbox-30"
        >
          <span class="slds-checkbox_faux"></span>
          <span class="ui-form-element__label slds-form-element__label">
            Checkbox Label
          </span>
        </label>
      </div>
      <div class="ui-form-element__checkbox slds-checkbox">
        <input
          type="checkbox"
          name="options"
          id="checkbox-31"
          value="checkbox-31"
        />
        <label
          class="ui-form-element__checkbox-label slds-checkbox__label"
          for="checkbox-31"
        >
          <span class="slds-checkbox_faux"></span>
          <span class="ui-form-element__label slds-form-element__label">
            Checkbox Label
          </span>
        </label>
      </div>
    </div>
  </fieldset>
</div>
