<form class="form">
  <div class="slds-progress slds-progress_vertical">
    <ol class="slds-progress__list">
      <li class="slds-progress__item slds-is-completed">
        <span
          class="slds-icon_container slds-icon-utility-success slds-progress__marker slds-progress__marker_icon"
          title="Complete"
        >
          <svg
            width="14px"
            height="14px"
            viewBox="0 0 14 14"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g
              id="Page-1"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <g
                id="11_oneDIFC_home_panelsExpanded"
                transform="translate(-155.000000, -906.000000)"
                fill="#4A4A4A"
              >
                <g id="Path-Card" transform="translate(32.000000, 640.000000)">
                  <path
                    d="M130,280 C126.134007,280 123,276.865993 123,273 C123,269.134007 126.134007,266 130,266 C133.865993,266 137,269.134007 137,273 C137,276.865993 133.865993,280 130,280 Z M127.59099,272.182653 L126,273.726021 L129.375,277 L135,271.543368 L133.40901,270 L129.375,273.913263 L127.59099,272.182653 Z"
                    id="Oval-241-Copy"
                  ></path>
                </g>
              </g>
            </g>
          </svg>
          <span class="slds-assistive-text">Complete</span>
        </span>
        <div
          class="slds-progress__item_content slds-grid slds-grid_align-spread"
        >
          <div class="form-control-group">
            <label for="">Name of applicant / DIFC entity</label>
            <input
              class="form-control"
              placeholder="Name of company here"
              type="text"
            />
          </div>
        </div>
      </li>
      <li class="slds-progress__item slds-is-active">
        <div class="slds-progress__marker">
          <span class="slds-assistive-text">Active</span>
        </div>
        <div
          class="slds-progress__item_content slds-grid slds-grid_align-spread"
        >
          <div class="form-control-group">
            <label for="">License number</label>
            <input
              class="form-control"
              placeholder="ex.: 3478-78192"
              type="text"
            />
          </div>
        </div>
      </li>
      <li class="slds-progress__item">
        <div class="slds-progress__marker"></div>
        <div
          class="slds-progress__item_content slds-grid slds-grid_align-spread"
        >
        <div class="form-control-group">
          <label for="">Full name of authorized person/ signatory (who is authorized to make this request)</label>
          <input
            class="form-control"
            placeholder="Name of director who is responsible"
            type="text"
          />
        </div>
      </li>
      <li class="slds-progress__item">
        <div class="slds-progress__marker"></div>
        <div
          class="slds-progress__item_content slds-grid slds-grid_align-spread"
        >
         <div class="form-control-group">
            <label for="business-type" class="form-control-label--hidden">Type pf business in DIFC</label>
            <select class="select-box" id="business-type">
              <option value="">Company type A</option>
              <option value="">Company type B</option>
              <option value="">Company type C</option>
              <option value="">Company type D</option>
            </select>
         </div>
        </div>
      </li>
      <li class="slds-progress__item">
        <div class="slds-progress__marker"></div>
        <div
          class="slds-progress__item_content slds-grid slds-grid_align-spread"
        >
          Step 5
        </div>
      </li>
    </ol>
    <div
      aria-valuemin="0"
      aria-valuemax="100"
      aria-valuenow="25"
      role="progressbar"
    >
      <span class="slds-assistive-text">Progress: 25%</span>
    </div>
  </div>
</form>
