<div class="ui-form-element slds-form-element">
  <label
    class="ui-form-element__label slds-form-element__label"
    for="text-input-id-1"
  >
    Input Label
  </label>
  <div
    class="ui-form-element__control slds-form-element__control slds-input-has-icon slds-input-has-icon_left-right"
  >
    <svg
      class="slds-icon slds-input__icon slds-input__icon_left slds-icon-text-default"
      aria-hidden="true"
    >
      <use
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"
      />
    </svg>
    <input
      id="text-input-id-1"
      class="ui-form-element__control-input slds-input"
      type="text"
      placeholder="Search something..."
    />
    <button
      class="slds-button slds-button_icon slds-input__icon slds-input__icon_right"
      title="Clear"
    >
      <svg class="slds-button__icon slds-icon-text-light" aria-hidden="true">
        <use
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#clear"
        />
      </svg>
      <span class="slds-assistive-text">Clear</span>
    </button>
  </div>
</div>
