<div class="ui-form-element slds-form-element slds-has-error">
  <label
    class="ui-form-element__label slds-form-element__label"
    for="text-input-id-1"
  >
    Input Label
  </label>
  <div class="ui-form-element__control slds-form-element__control">
    <input
      id="text-input-id-1"
      aria-describedby="error-message-unique-id"
      class="ui-form-element__control-input slds-input"
      type="text"
      placeholder="Type something..."
      required
    />
  </div>
  <div class="slds-form-element__help" id="error-message-unique-id">
    <abbr class="slds-required">*</abbr>
    This field is required
  </div>
</div>
