<div class="ui-form-element slds-form-element">
  <label
    class="ui-form-element__label slds-form-element__label"
    for="text-input-id-1"
  >
    <span class="ui-form-element__label-name">
      Input Label
      <span class="ui-form-element__label-optional">(optional)</span>
    </span>

    <span class="ui-form-element__label-description">
      Description of input label here
    </span>
  </label>
  <div class="ui-form-element__control slds-form-element__control">
    <input
      id="text-input-id-1"
      class="ui-form-element__control-input slds-input"
      type="text"
      placeholder="Type something..."
    />
  </div>
</div>
