<div class="ui-form-element slds-form-element slds-has-error">
  <label
    class="ui-form-element__label slds-form-element__label"
    for="textarea-id-01"
  >
    <abbr class="slds-required">*</abbr>
    Textarea Label
  </label>
  <div class="ui-form-element __control slds-form-element__control">
    <textarea
      id="textarea-id-01"
      aria-describedby="error-01"
      class="ui-form-element__control-textarea slds-textarea"
      placeholder="Placeholder Text"
      required
    ></textarea>
  </div>
  <div class="slds-form-element__help" id="error-01">
    This field is required
  </div>
</div>
