body {
  position: relative;
  font-family: 'EuclidSquareTrial', sans-serif;
}

.page {
  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 99px;
    background-color: #171717;
    width: 2px;
    height: 128vh;
  }

  &__inner {
    position: relative;
    z-index: 2;
  }
}

.page-section {
  padding: 0 32px;
}

.page-section--head {
  padding: 0 160px;
}
