body {
  position: relative;
  font-family: 'EuclidSquareTrial', sans-serif;
}

.page {
  // &::before {
  //   content: '';
  //   position: absolute;
  //   z-index: 1;
  //   left: 152px;
  //   background-color: #171717;
  //   width: 2px;
  //   height: 128vh;
  // }

  &-header {
    position: relative;
  }

  &__inner {
    position: relative;
    z-index: 2;
    max-width: 1440px;
    margin: 0 auto;
  }

  &--ui-components {
    .page-section {
      padding: 16px;
      margin-bottom: 16px;
      background-color: #fff;
    }
  }
}

.page-header__tier-inner {
  position: relative;
  // padding: 0 200px;
  max-width: 1440px;
  padding: 0 128px;
  margin: 0 auto;

  &::before {
    content: '';
    position: absolute;
    top: -64px;
    z-index: 1;
    left: 98px;
    background-color: #171717;
    width: 2px;
    height: 512px;
  }
}

.page-section {
  padding: 0 32px;

  @media screen and (min-width: 1440px) {
    margin-right: 84px;
  }

  &.ui-card {
    .ui-accordion .slds-accordion__list-item {
      border-top: 1px solid #dddbda;

      &:first-child {
        border-top: 0;
      }
    }

    .ui-accordion .slds-accordion__section {
      padding: 0.75rem;
    }
  }
}

.icon-image {
  max-width: none;
}

// this is only for storybook purpose
.sb-show-main {
  padding: 16px;
}
