<div class="ui-accordion">
  <ul class="slds-accordion">
    <li class="slds-accordion__list-item">
      <section class="slds-accordion__section">
        <div class="slds-accordion__summary">
          <h3 class="slds-accordion__summary-heading">
            <button
              aria-controls="accordion-details-01"
              aria-expanded="true"
              class="slds-button slds-button_reset slds-accordion__summary-action"
            >
              <img class="ui-icon" src="/assets/svg/arrow-down.svg" />
              <span class="slds-truncate" title="Accordion summary">
                Accordion Summary
              </span>
            </button>
          </h3>
        </div>
        <div
          aria-hidden="false"
          class="slds-accordion__content"
          id="accordion-details-01"
        >
          Accordion Details
        </div>
      </section>
    </li>
    <li class="slds-accordion__list-item">
      <section class="slds-accordion__section">
        <div class="slds-accordion__summary">
          <h3 class="slds-accordion__summary-heading">
            <button
              aria-controls="accordion-details-02"
              aria-expanded="false"
              class="slds-button slds-button_reset slds-accordion__summary-action"
            >
              <img class="ui-icon" src="/assets/svg/arrow-down.svg" />
              <span class="slds-truncate" title="Accordion summary">
                Accordion Summary
              </span>
            </button>
          </h3>
        </div>
        <div
          aria-hidden="true"
          class="slds-accordion__content"
          id="accordion-details-02"
        >
          Accordion Details - B
        </div>
      </section>
    </li>
    <li class="slds-accordion__list-item">
      <section class="slds-accordion__section">
        <div class="slds-accordion__summary">
          <h3 class="slds-accordion__summary-heading">
            <button
              aria-controls="accordion-details-03"
              aria-expanded="false"
              class="slds-button slds-button_reset slds-accordion__summary-action"
            >
              <img class="ui-icon" src="/assets/svg/arrow-down.svg" />
              <span class="slds-truncate" title="Accordion summary">
                Accordion Summary
              </span>
            </button>
          </h3>
        </div>
        <div
          aria-hidden="true"
          class="slds-accordion__content"
          id="accordion-details-03"
        >
          Accordion Details - C
        </div>
      </section>
    </li>
  </ul>
</div>
