<div class="add-panel card card--grey">
  <button class="button--close">
    <img
      class="button__icon--close"
      src="/assets/svg/close-dark.svg"
      alt="cross"
    />
  </button>
  <div class="add-panel__image-panel">
    <img class="add-panel__image" src="" alt="" />
  </div>

  <div class="add-panel__content">
    <h2 class="add-panel__content-title onedifc-title onedifc-title--level-3">
      At your service
    </h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore
      repellendus accusamus esse. Labore cum ratione qui accusamus provident
      incidunt.
    </p>

    <div class="button-group">
      <a href="#" class="button button--default">Hire a Business Advisor</a>
    </div>
  </div>
</div>
