<div class="onedifc-announcement">
  <button class="onedifc-close">
    <img class="onedifc-close-icon" src="/assets/svg/close-dark.svg" alt="" />
  </button>
  <div class="onedifc-announcement__content">
    <h2 class="onedifc-title onedifc-title--level-2">At your service</h2>

    <p class="onedifc-paragraph">
      Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
      ad minim veniam, quis nostrud.
    </p>

    <a href="" class="onedifc-button onedifc-button--primary">
      Hire a Business Advisor
    </a>
  </div>
</div>
