<div class="announcement-panel">
  <button class="button--close">
    <img class="button__icon--close" src="/assets/svg/close-dark.svg" alt="cross" />
  </button>
  <div class="announcement__content">
    <h2 class="onedifc-title onedifc-title--level-2">At your service</h2>

    <p class="onedifc-paragraph">
      Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
      ad minim veniam, quis nostrud.
    </p>

    <a href="" class="button button--primary">
      Hire a Business Advisor
    </a>
  </div>
</div>
