<nav class="ui-breadcrumbs" role="navigation" aria-label="Breadcrumbs">
  <ol
    class="slds-breadcrumb slds-list_horizontal slds-wrap slds-grid_vertical-align-center"
  >
    <li class="slds-breadcrumb__item">
      <div
        class="slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open"
      >
        <button
          class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small"
          aria-haspopup="true"
          title="Show More"
        >
          <span>...</span>
          <span class="slds-assistive-text">Show More</span>
        </button>
        <div class="slds-dropdown slds-dropdown_left slds-dropdown_actions">
          <ul class="slds-dropdown__list" role="menu">
            <li class="slds-dropdown__item" role="presentation">
              <a href="#" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Menu Item One">
                  Menu Item One
                </span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="#" role="menuitem" tabindex="-1">
                <span class="slds-truncate" title="Menu Item Two">
                  Menu Item Two
                </span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="#" role="menuitem" tabindex="-1">
                <span class="slds-truncate" title="Menu Item Three">
                  Menu Item Three
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="slds-breadcrumb__item slds-text-title_caps">
      <a href="#">Parent Name</a>
    </li>
    <li class="slds-breadcrumb__item slds-text-title_caps">
      <a href="#">Child Name</a>
    </li>
  </ol>
</nav>
