<div class="card card--grey">
  <div class="card__content card__content--padding-med">
    <span class="card__title">Card heading herer and also on this second line if needed...</span>
    <p class="card__paragraph">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia magni repellat nesciunt
      sapiente eius eum commodi
      illo voluptates vel ratione consectetur, laborum earum blanditiis officiis, adipisci cumque. Fuga, illum
      molestiae!
    </p>

    <p class="card__paragraph">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia magni repellat nesciunt
      sapiente eius eum commodi
      illo voluptates vel ratione consectetur, laborum earum blanditiis officiis, adipisci cumque. Fuga, illum
      molestiae!
    </p>
  </div>
  <div class="card__action"></div>
</div>



<div class="card card--grey">
  <div class="card__header">
    <span class="card__header-title">
      Pathway Guide
    </span>
    <span class="card__header-subtitle">
      Section One: Prepare company documents
    </span>
  </div>
  <div class="card__content card__content--padding-med">
    <ul class="next-steps__list">
      <li class="next-steps__item">
        <a class="next-steps__item-link" href="#">
          <span class="next-steps__item-description">
            Create your busniess structure
          </span>
          <span class="next-steps__item-info">4 questions</span>
        </a>
      </li>
      <li class="next-steps__item">
        <a class="next-steps__item-link" href="#">
          <span class="next-steps__item-description">
            Reserve your company name
          </span>
          <span class="next-steps__item-info">10 minutes</span>
        </a>
      </li>
      <li class="next-steps__item">
        <a class="next-steps__item-link" href="#">
          <span class="next-steps__item-description">
            Fill in company details
          </span>
          <span class="next-steps__item-info">12 questions</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="card__action">
    <a href="" class="button button--primary">Call to action here</a>
  </div>
</div>