<div class="global-navigation">
  <h1 class="global-navigation__title">
    <img
      class="global-navigation__title-icon"
      src="/assets/svg/difc-logo.svg"
      alt="DIFC"
    />
    <span class="global-navigation__title-text">One DIFC</span>
  </h1>

  <div class="global-navigation__content">
    <div class="global-navigation__content-col">
      <div class="global-navigation__action">
        <div class="global-navigation__action--private">
          <button
            class="global-navigation__button global-navigation__button--icon"
          >
            <img
              src="/assets/svg/answer-public.svg"
              alt="search icon"
              class="search-bar__icon-image icon-image"
            />
          </button>
          <button
            class="global-navigation__button global-navigation__button--icon"
          >
            <img
              src="/assets/svg/announcement.svg"
              alt="search icon"
              class="search-bar__icon-image icon-image"
            />
          </button>
        </div>

        <button
          class="global-navigation__button global-navigation__button--search"
        >
          <img
            src="/assets/svg/magnifier-icon.svg"
            alt="search icon"
            class="search-bar__icon-image icon-image"
          />
        </button>
      </div>

      <div class="global-navigation__user">
        <a
          class="global-navigation__user-link global-navigation__link"
          href="#"
        >
          <span class="global-navigation__user-name">Company name</span>
          <span class="global-navigation__user-avatar">
            <img
              src="/assets/svg/avatar-placeholder.svg"
              alt="avatar image"
              class="global-navigation__button-image icon-image"
            />
          </span>
        </a>
      </div>

      <button class="global-navigation__button global-navigation__button--menu">
        <img
          src="/assets/svg/hamburger-line.svg"
          alt="notification bell"
          class="global-navigation__button-image icon-image"
        />
      </button>
    </div>
  </div>
</div>
