<div class="global-navigation">
  <div class="global-navigation__inner-wrap">
    <h1 class="global-navigation__title">
      <img
        class="global-navigation__title-icon"
        src="/assets/svg/difc-logo.svg"
        alt="DIFC"
      />
      <span class="global-navigation__title-text">One DIFC</span>
    </h1>

    <div class="global-navigation__content">
      <div class="global-navigation__content-col">
        <div class="global-navigation__action">
          <button
            class="global-navigation__button global-navigation__button--search"
          >
            <img
              src="/assets/svg/magnifier-icon.svg"
              alt="search icon"
              class="search-bar__icon-image icon-image"
            />
          </button>
        </div>
        <div class="global-navigation__user">
          <a href="#" class="global-navigation__link">Register</a>
          <a href="#" class="global-navigation__link">Login</a>
        </div>
        <button
          class="global-navigation__button global-navigation__button--menu"
        >
          <img
            src="/assets/svg/hamburger-line.svg"
            alt="notification bell"
            class="global-navigation__dynamic-menu-image icon-image"
          />
        </button>
      </div>
    </div>
  </div>
</div>
