<div class="ui-global-navigation">
  <div class="ui-global-navigation__inner-wrap">
    <h1 class="ui-global-navigation__title">
      <img
        class="ui-global-navigation__title-icon"
        src="/assets/svg/difc-logo.svg"
        alt="DIFC"
      />
      <span class="ui-global-navigation__title-text">One DIFC</span>
    </h1>

    <div class="ui-global-navigation__content">
      <div class="ui-global-navigation__content-col">
        <div class="ui-global-navigation__action">
          <button
            class="ui-global-navigation__button ui-global-navigation__button--search"
          >
            <img
              src="/assets/svg/magnifier-icon.svg"
              alt="search icon"
              class="search-bar__icon-image icon-image"
            />
          </button>
        </div>
        <div class="ui-global-navigation__user">
          <a href="#" class="ui-global-navigation__link">Register</a>
          <a href="#" class="ui-global-navigation__link">Login</a>
        </div>

        <!-- HAMBURGERS PLUGIN -->
        <button
          class="ui-global-navigation__button ui-global-navigation__button--menu hamburger hamburger--collapse"
          type="button"
        >
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
        <!-- HAMBURGERS PLUGIN -->
      </div>
    </div>
  </div>
</div>
