<div class="ui-guide-card ui-card ui-card--light-blue">
  <div class="ui-card__header">
    <span class="ui-card__header-title">Pathway Guide</span>
    <span class="ui-card__header-subtitle">
      Section One: Prepare company documents
    </span>
  </div>
  <div class="ui-card__content ui-card__content--padding-med">
    <p class="ui-card__paragraph">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia magni
      repellat nesciunt sapiente eius eum commodi.
    </p>

    <p class="ui-card__paragraph">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia magni
      repellat nesciunt sapiente eius eum commodi illo voluptates vel ratione
      consectetur, laborum earum blanditiis officiis, adipisci cumque. Fuga,
      illum molestiae.
    </p>

    <div class="ui-guide-card__notice">
      <p class="ui-guide-card__notice-text">
        Please make sure you fill in all details on each part of the section.
      </p>
    </div>
  </div>
</div>
