<div class="main-navigation">
  <div class="main-navigation__inner">
    <h1 class="main-navigation__title">One DIFC</h1>

    <div class="main-navigation__content">

      {% include 'components/search-bar.html' %}

      <div class="main-navigation__user">
        <a class="main-navigation__user-link" href="#">
          <span class="main-navigation__user-name">Company name</span>
          <span class="main-navigation__user-avatar">
            <img src="/assets/svg/avatar-placeholder.svg" alt="avatar image" class="main-navigation__user-avatar-image" />
          </span>
        </a>
      </div>
      <div class="main-navigation__dynamic-menu">
        <button class="main-navigation__dynamic-menu-button">
          <img src="/assets/svg/bell-dark.svg" alt="notification bell" class="main-navigation__dynamic-menu-image" />
        </button>
      </div>
    </div>
  </div>
</div>