<div class="ui-marketing-card ui-card">
  <button class="ui-button ui-button--close">
    <span class="ui-button__text ui-button__text--hidden">Close</span>
    <img
      class="ui-button__icon--close icon-image"
      src="/assets/svg/close-light.svg"
      alt="cross"
    />
  </button>

  <div class="ui-card__content ui-card__content--padding-med">
    <h2 class="ui-card__title">Marketing service information here</h2>
    <div class="ui-card__content-section">
      <p class="ui-card__paragraph">
        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim venit enim an enim la enim enimt tempor labore enim.
      </p>
    </div>
  </div>
</div>
