<div class="ui-menu">
  <div class="slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open">
    <button
      class="slds-button slds-button_icon slds-button_icon-border-filled"
      aria-haspopup="true"
      title="Show More"
    >
      <svg class="slds-button__icon" aria-hidden="true">
        <use
          xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"
        ></use>
      </svg>
      <span class="slds-assistive-text">Show More</span>
    </button>
    <div class="slds-dropdown slds-dropdown_left slds-dropdown_small">
      <ul class="slds-dropdown__list" role="menu" aria-label="Show More">
        <li class="slds-dropdown__item slds-is-selected" role="presentation">
          <a
            href="javascript:void(0);"
            role="menuitemcheckbox"
            aria-checked="true"
            tabindex="0"
          >
            <span class="slds-truncate" title="Menu Item One">
              <svg
                class="slds-icon slds-icon_selected slds-icon_x-small slds-icon-text-default slds-m-right_x-small"
                aria-hidden="true"
              >
                <use
                  xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"
                ></use>
              </svg>
              Menu Item One
            </span>
          </a>
        </li>
        <li class="slds-dropdown__item" role="presentation">
          <a
            href="javascript:void(0);"
            role="menuitemcheckbox"
            aria-checked="false"
            tabindex="-1"
          >
            <span class="slds-truncate" title="Menu Item Two">
              <svg
                class="slds-icon slds-icon_selected slds-icon_x-small slds-icon-text-default slds-m-right_x-small"
                aria-hidden="true"
              >
                <use
                  xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"
                ></use>
              </svg>
              Menu Item Two
            </span>
          </a>
        </li>
        <li class="slds-dropdown__item" role="presentation">
          <a
            href="javascript:void(0);"
            role="menuitemcheckbox"
            aria-checked="false"
            tabindex="-1"
          >
            <span class="slds-truncate" title="Menu Item Three">
              <svg
                class="slds-icon slds-icon_selected slds-icon_x-small slds-icon-text-default slds-m-right_x-small"
                aria-hidden="true"
              >
                <use
                  xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"
                ></use>
              </svg>
              Menu Item Three
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
