<div class="next-steps card card--grey">
  <header class="next-steps__head">
    <h3 class="card__title card__title--level-3">Next steps</h3>
    <p class="card__paragraph">Here are your next 3 steps</p>
  </header>

  <ul class="next-steps__list">
    <li class="next-steps__item">
      <a class="next-steps__item-link" href="#">
        <span class="next-steps__item-description">
          Create your busniess structure
        </span>
        <span class="next-steps__item-info">4 questions</span>
      </a>
    </li>
    <li class="next-steps__item">
      <a class="next-steps__item-link" href="#">
        <span class="next-steps__item-description">
          Reserve your company name
        </span>
        <span class="next-steps__item-info">10 minutes</span>
      </a>
    </li>
    <li class="next-steps__item">
      <a class="next-steps__item-link" href="#">
        <span class="next-steps__item-description">
          Fill in company details
        </span>
        <span class="next-steps__item-info">12 questions</span>
      </a>
    </li>
  </ul>

  <div class="next-step__continue button-group">
    <a href="#" class="button button--default">Continue</a>
  </div>
</div>
