<div
  class="path-summary path-summary--next-phase path-summary--active card card--disabled"
>
  <div class="path-summary__marker"></div>

  <div class="path-summary__content">
    <div class="path-summary__content-head">
      <h3 class="card__title card__title--level-3 path-summary-panel__title">
        Start fitout process
      </h3>
    </div>

    <div class="path-summary__content-body">
      <p class="card__paragraph">Sed do eiusmod tempor incididunt ut labore.</p>

      <div class="button-group">
        <a href="#" class="button button--primary">Start Path</a>
      </div>
    </div>
  </div>
</div>
