<div class="path-summary card card--disabled">
  <span class="path-summary__number">2</span>
  <div class="path-summary__marker "></div>

  <div class="path-summary__content">
    <div class="path-summary__content-head">
      <h3
        class="card__title card__title--level-3 path-summary-panel__title"
      >
        Lease a property
      </h3>
      <div class="path-summary__update">
        <span class="path-summary__update-item">0/5 Steps</span>
        <span class="path-summary__update-item">0/12 Questions</span>
        <span class="path-summary__update-item">0/4 Documents</span>
        <span class="path-summary__update-item">2 days</span>
      </div>
    </div>

    <div class="path-summary__content-body">
      <p class="card__paragraph">
        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud.
      </p>

      <div class="button-group">
        <button class="button button--toggle">
          <span class="button__text">View details</span>
          <img
            class="button__icon--arrow"
            src="/assets/svg/arrow-line-right-dark.svg"
            alt=""
          />
        </button>
        <a href="#" class="button button--primary">Start Path</a>
      </div>

      <div class="path-summary__details path-summary__details--hidden">
        <ul class="path-summary__details-list">
          <li class="path-summary__details-item">
            <a class="path-summary__details-item-link" href="#">
              <img
                class="path-summary__details-item-icon"
                src="/assets/svg/progress-ring-base.svg"
                alt=""
              />
              <span class="path-summary__details-item-info">
                <span class="path-summary__details-description">
                  <p>View properties</p>
                  <p class="path-summary__details-info">4 questions</p>
                </span>

                <span class="path-summary__details-status">
                  <span class="path-summary__details-status-value">
                    Complete company profile
                  </span>
                  <span class="path-summary__details-status-action">
                    Review
                  </span>
                </span>
              </span>
            </a>
          </li>
          <li class="path-summary__details-item">
            <a class="path-summary__details-item-link" href="#">
              <img
                class="path-summary__details-item-icon"
                src="/assets/svg/progress-ring-base.svg"
                alt=""
              />
              <span class="path-summary__details-item-info">
                <span class="path-summary__details-description">
                  <p>Apply for property</p>
                  <p class="path-summary__details-info">10 minutes</p>
                </span>

                <span class="path-summary__details-status">
                  <span class="path-summary__details-status-value">
                    Complete company profile
                  </span>
                  <span class="path-summary__details-status-action">
                    Review
                  </span>
                </span>
              </span>
            </a>
          </li>
          <li class="path-summary__details-item">
            <a class="path-summary__details-item-link" href="#">
              <img
                class="path-summary__details-item-icon"
                src="/assets/svg/progress-ring-base.svg"
                alt=""
              />
              <span class="path-summary__details-item-info">
                <span class="path-summary__details-description">
                  <p>Agree on head of terms</p>
                  <p class="path-summary__details-info">12 questions</p>
                </span>

                <span class="path-summary__details-status">
                  <span class="path-summary__details-status-value">
                    Complete company profile
                  </span>
                  <span class="path-summary__details-status-action">
                    Review
                  </span>
                </span>
              </span>
            </a>
          </li>
          <li class="path-summary__details-item">
            <a class="path-summary__details-item-link" href="#">
              <img
                class="path-summary__details-item-icon"
                src="/assets/svg/progress-ring-base.svg"
                alt=""
              />
              <span class="path-summary__details-item-info">
                <span class="path-summary__details-description">
                  <p>Reserve a property</p>
                  <p class="path-summary__details-info">
                    8 questions | 2 documents
                  </p>
                </span>

                <span class="path-summary__details-status">
                  <span class="path-summary__details-status-value">
                    Complete company profile
                  </span>
                  <span class="path-summary__details-status-action">
                    Review
                  </span>
                </span>
              </span>
            </a>
          </li>
          <li class="path-summary__details-item">
            <a class="path-summary__details-item-link" href="#">
              <img
                class="path-summary__details-item-icon"
                src="/assets/svg/progress-ring-base.svg"
                alt=""
              />
              <span class="path-summary__details-item-info">
                <span class="path-summary__details-description">
                  <p>Sign a lease agreement</p>
                  <p class="path-summary__details-info">
                    5 questions | 2 documents
                  </p>
                </span>

                <span class="path-summary__details-status">
                  <span class="path-summary__details-status-value">
                    Complete company profile
                  </span>
                  <span class="path-summary__details-status-action">
                    Review
                  </span>
                </span>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
