<div class="ui-card ui-path-card ui-path-card--collapsed">
  <div class="ui-path-card__content">
    <div class="ui-path-card__header">
      <div class="ui-path-card__header-top">
        <div class="ui-path-card__progress-ring">
          <div
            class="ui-progress-ring slds-progress-ring slds-progress-ring_complete"
          >
            <div
              class="slds-progress-ring__progress"
              role="progressbar"
              aria-valuemin="0"
              aria-valuemax="100"
              aria-valuenow="100"
            >
              <svg viewBox="-1 -1 2 2">
                <path
                  class="slds-progress-ring__path"
                  id="slds-progress-ring-path-16"
                  d="M 1 0 A 1 1 0 1 1 1 -2.4492935982947064e-16 L 0 0"
                />
              </svg>
            </div>
            <div class="slds-progress-ring__content">
              <span
                class="slds-icon_container slds-icon-utility-check"
                title="Complete"
              >
                <svg class="slds-icon" aria-hidden="true">
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"
                  />
                </svg>
                <span class="slds-assistive-text">Complete</span>
              </span>
            </div>
          </div>
        </div>

        <div class="ui-path-card__header-panel">
          <div class="ui-path-card__header-title">Submit company profile</div>

          <div class="ui-path-card__progress-updates">
            <span class="ui-path-card__progress-updates-item">1/4 Steps</span>
            |
            <span class="ui-path-card__progress-updates-item">
              6/24 Questions
            </span>
            |
            <span class="ui-path-card__progress-updates-item">
              0/4 Documents
            </span>

            <div class="ui-path-card__time">2 Days</div>
          </div>

          <p class="ui-path-card__text">
            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud.
          </p>
        </div>
      </div>

      <div class="ui-path-card__header-bottom">
        <div class="ui-path-card__action ui-card__action">
          <div class="ui-button-group">
            <button class="ui-path-card__button--show-details ui-button">
              <span class="ui-button__text">Show details</span>

              <img class="ui-icon" src="/assets/svg/arrow-down.svg" />
            </button>
            <button
              class="ui-path-card__button--start-path ui-button ui-button--primary"
            >
              Start path
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- end: ui-path-card__header -->

    <div
      class="ui-path-card__details ui-progress-indicator ui-progress-indicator--vertical slds-progress slds-progress_vertical"
    >
      <ol class="form__list slds-progress__list">
        <li class="form__list-item slds-progress__item slds-is-completed">
          <span
            class="slds-icon_container slds-icon-utility-success slds-progress__marker slds-progress__marker_icon"
            title="Complete"
          >
            <img
              src="/assets/svg/progress-ring-complete.svg"
              alt="complete icon"
              class="icon-image"
            />
            <span class="slds-assistive-text">Complete</span>
          </span>
          <div
            class="slds-progress__item_content slds-grid slds-grid_align-spread"
          >
            <a href="#" class="ui-path-card__details-item">
              <span class="ui-path-card__details-item-name">
                Business structure
              </span>
              <span class="ui-path-card__details-item-info">4 questions</span>
            </a>
          </div>
        </li>
        <li class="form__list-item slds-progress__item slds-is-completed">
          <span
            class="slds-icon_container slds-icon-utility-success slds-progress__marker slds-progress__marker_icon"
            title="Complete"
          >
            <img
              src="/assets/svg/progress-ring-complete.svg"
              alt="complete icon"
              class="icon-image"
            />
            <span class="slds-assistive-text">Complete</span>
          </span>
          <div
            class="slds-progress__item_content slds-grid slds-grid_align-spread"
          >
            <a href="#" class="ui-path-card__details-item">
              <span class="ui-path-card__details-item-name">Company name</span>
              <span class="ui-path-card__details-item-info">10 minutes</span>
            </a>
          </div>
        </li>
        <li class="form__list-item slds-progress__item slds-is-active">
          <div class="slds-progress__marker">
            <span class="slds-assistive-text">Active</span>
          </div>
          <div
            class="slds-progress__item_content slds-grid slds-grid_align-spread"
          >
            <a href="#" class="ui-path-card__details-item">
              <span class="ui-path-card__details-item-name">
                Company details
              </span>
              <span class="ui-path-card__details-item-info">12 questions</span>
            </a>
          </div>
        </li>
        <li class="form__list-item slds-progress__item">
          <div class="slds-progress__marker"></div>
          <div
            class="slds-progress__item_content slds-grid slds-grid_align-spread"
          >
            <a href="#" class="ui-path-card__details-item">
              <span class="ui-path-card__details-item-name">
                Owners &amp; key people
              </span>
              <span class="ui-path-card__details-item-info">
                8 questions | 2 documents
              </span>
            </a>
          </div>
        </li>
      </ol>
      <div
        aria-valuemin="0"
        aria-valuemax="100"
        aria-valuenow="25"
        role="progressbar"
      >
        <span class="slds-assistive-text">Progress: 25%</span>
      </div>
    </div>
  </div>
</div>
