<div class="ui-picklist">
  <div class="ui-form-element slds-form-element">
    <label
      class="ui-form-element__label slds-form-element__label"
      for="combobox-unique-id-33"
    >
      Search
    </label>
    <div class="ui-form-element__control slds-form-element__control">
      <div class="slds-combobox_container slds-size_small">
        <div
          class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open"
          aria-expanded="true"
          aria-haspopup="listbox"
          role="combobox"
        >
          <div
            class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right"
            role="none"
          >
            <input
              class="ui-form-element__control-input slds-input slds-combobox__input"
              id="combobox-unique-id-33"
              aria-controls="listbox-unique-id"
              autocomplete="off"
              role="textbox"
              type="text"
              placeholder="Select an Option"
              readonly=""
              value=""
            />
            <span
              class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right"
              title="Description of icon when needed"
            >
              <svg
                class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default"
                aria-hidden="true"
              >
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"
                />
              </svg>
              <span class="slds-assistive-text">
                Description of icon when needed
              </span>
            </span>
          </div>
          <div id="listbox-unique-id" role="listbox">
            <ul
              class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid"
              role="presentation"
            >
              <li role="presentation" class="slds-listbox__item">
                <div
                  id="listbox-option-unique-id-01"
                  class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center"
                  role="option"
                >
                  <span class="slds-media__body">
                    <span class="slds-truncate" title="Option A">Option A</span>
                  </span>
                  <span class="slds-media__figure">
                    <svg
                      class="slds-icon slds-icon_x-small slds-listbox__icon-selected"
                      aria-hidden="true"
                    >
                      <use
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"
                      />
                    </svg>
                  </span>
                </div>
              </li>
              <li role="presentation" class="slds-listbox__item">
                <div
                  id="listbox-option-unique-id-02"
                  class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center"
                  role="option"
                >
                  <span class="slds-media__body">
                    <span class="slds-truncate" title="Option B">Option B</span>
                  </span>
                  <span class="slds-media__figure">
                    <svg
                      class="slds-icon slds-icon_x-small slds-listbox__icon-selected"
                      aria-hidden="true"
                    >
                      <use
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"
                      />
                    </svg>
                  </span>
                </div>
              </li>
              <li role="presentation" class="slds-listbox__item">
                <div
                  id="listbox-option-unique-id-03"
                  class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center"
                  role="option"
                >
                  <span class="slds-media__body">
                    <span class="slds-truncate" title="Option C">Option C</span>
                  </span>
                  <span class="slds-media__figure">
                    <svg
                      class="slds-icon slds-icon_x-small slds-listbox__icon-selected"
                      aria-hidden="true"
                    >
                      <use
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"
                      />
                    </svg>
                  </span>
                </div>
              </li>
              <li role="presentation" class="slds-listbox__item">
                <div
                  id="listbox-option-unique-id-03"
                  class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center"
                  role="option"
                >
                  <span class="slds-media__body">
                    <span class="slds-truncate" title="Option D">Option D</span>
                  </span>
                  <span class="slds-media__figure">
                    <svg
                      class="slds-icon slds-icon_x-small slds-listbox__icon-selected"
                      aria-hidden="true"
                    >
                      <use
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"
                      />
                    </svg>
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
