<div class="ui-popover">
  <section
    class="slds-popover slds-popover_warning slds-nubbin_bottom-left"
    role="dialog"
    aria-labelledby="dialog-heading-id-2"
    aria-describedby="dialog-body-id-5"
  >
    <button
      class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close slds-button_icon"
      title="Close dialog"
    >
      <svg class="slds-button__icon" aria-hidden="true">
        <use
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"
        />
      </svg>
      <span class="slds-assistive-text">Close dialog</span>
    </button>
    <header class="slds-popover__header">
      <div class="slds-media slds-media_center slds-has-flexi-truncate ">
        <div class="slds-media__figure">
          <span class="slds-icon_container slds-icon-utility-warning">
            <svg
              class="slds-icon slds-icon_x-small slds-icon-text-default"
              aria-hidden="true"
            >
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#warning"
              />
            </svg>
          </span>
        </div>
        <div class="slds-media__body">
          <h2
            class="slds-truncate slds-text-heading_medium"
            id="dialog-heading-id-2"
            title="Review warning"
          >
            Review warning
          </h2>
        </div>
      </div>
    </header>
    <div
      class="slds-popover__body slds-popover_warning__body"
      id="dialog-body-id-5"
    >
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore.
        <a href="#" title="Learn More">Learn More</a>
      </p>
    </div>
  </section>
</div>
