<div class="ui-popover">
  <section
    class="slds-popover slds-nubbin_left"
    role="dialog"
    aria-label="Dialog Title"
    aria-describedby="dialog-body-id-2"
  >
    <button
      class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close slds-button_icon"
      title="Close dialog"
    >
      <svg class="slds-button__icon" aria-hidden="true">
        <use
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"
        />
      </svg>
      <span class="slds-assistive-text">Close dialog</span>
    </button>
    <div class="slds-popover__body" id="dialog-body-id-2">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </section>
</div>
