<div class="ui-popover">
  <section
    class="slds-popover slds-popover_walkthrough slds-nubbin_left"
    role="dialog"
    aria-labelledby="dialog-heading-id-1"
    aria-describedby="dialog-body-id-23"
  >
    <button
      class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close slds-button_icon-inverse"
      title="Close dialog"
    >
      <svg class="slds-button__icon" aria-hidden="true">
        <use
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"
        />
      </svg>
      <span class="slds-assistive-text">Close dialog</span>
    </button>
    <header class="slds-popover__header slds-p-vertical_medium">
      <h2 id="dialog-heading-id-1" class="slds-text-heading_medium">
        Manage your channels
      </h2>
    </header>
    <div class="slds-popover__body" id="dialog-body-id-23">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <div class="ui-form-element slds-form-element slds-p-top_small">
        <label
          class="ui-form-element__label slds-form-element__label slds-assistive-text"
          for="email-text-input-01"
        >
          Email Address
        </label>
        <div class="ui-form-element__control slds-form-element__control">
          <input
            id="email-text-input-01"
            class="ui-form-element__control-input slds-input"
            type="text"
            placeholder="Email Address"
          />
        </div>
      </div>
    </div>
    <footer class="slds-popover__footer">
      <div class="slds-grid slds-grid_vertical-align-center">
        <span class="slds-text-title">Step 2 of 4</span>
        <button
          class="ui-button ui-button--default slds-button slds-button_inverse slds-col_bump-left"
        >
          Previous
        </button>
        <button
          class="ui-button ui-button--primary slds-button slds-button_brand slds-col_bump-left"
        >
          Next
        </button>
      </div>
    </footer>
  </section>
</div>
