<div
  class="ui-progress-indicator ui-progress-indicator--vertical slds-progress slds-progress_vertical"
>
  <ol class="form__list slds-progress__list">
    <li class="form__list-item slds-progress__item slds-is-completed">
      <span
        class="slds-icon_container slds-icon-utility-success slds-progress__marker slds-progress__marker_icon"
        title="Complete"
      >
        <img
          src="/assets/svg/progress-ring-complete.svg"
          alt="complete icon"
          class="icon-image"
        />
        <span class="slds-assistive-text">Complete</span>
      </span>
      <div class="slds-progress__item_content slds-grid slds-grid_align-spread">
        [Content Here]
      </div>
    </li>
    <li class="form__list-item slds-progress__item slds-is-active">
      <div class="slds-progress__marker">
        <span class="slds-assistive-text">Active</span>
      </div>
      <div class="slds-progress__item_content slds-grid slds-grid_align-spread">
        [Content Here]
      </div>
    </li>
    <li class="form__list-item slds-progress__item">
      <div class="slds-progress__marker"></div>
      <div class="slds-progress__item_content slds-grid slds-grid_align-spread">
        [Content Here]
      </div>
    </li>
    <li class="form__list-item slds-progress__item">
      <div class="slds-progress__marker"></div>
      <div class="slds-progress__item_content slds-grid slds-grid_align-spread">
        [Content Here]
      </div>
    </li>
    <li class="form__list-item slds-progress__item">
      <div class="slds-progress__marker"></div>
      <div class="slds-progress__item_content slds-grid slds-grid_align-spread">
        [Content Here]
      </div>
    </li>
    <li class="form__list-item slds-progress__item">
      <div class="slds-progress__marker"></div>
      <div class="slds-progress__item_content slds-grid slds-grid_align-spread">
        [Content Here]
      </div>
    </li>
  </ol>
  <div
    aria-valuemin="0"
    aria-valuemax="100"
    aria-valuenow="25"
    role="progressbar"
  >
    <span class="slds-assistive-text">Progress: 25%</span>
  </div>
</div>
