<div class="progress-bar">
  <div
    class="slds-grid slds-grid_align-spread slds-p-bottom_x-small"
    id="progress-bar-label-id-5"
  >
    <span aria-hidden="true">15% Complete</span>
  </div>
  <div
    class="progress-bar__bar slds-progress-bar slds-progress-bar_x-small"
    aria-valuemin="0"
    aria-valuemax="100"
    aria-valuenow="15"
    aria-labelledby="progress-bar-label-id-5"
    role="progressbar"
  >
    <span
      class="progress-bar__value slds-progress-bar__value"
      style="width: 15%;"
    >
      <span class="slds-assistive-text">Progress: 25%</span>
    </span>
  </div>
</div>
