<div class="ui-property-card ui-card">
  <span class="ui-property-card__property-size">10,000 Sq ft</span>
  <div class="ui-property-card__picture">
    <img
      src="/assets/images/DIFC_General Architecture_087.jpg"
      alt="A property"
      class="ui-property-card__image"
    />
  </div>

  <div class="ui-property-card__body">
    <div class="ui-property-card__body-top">
      <span class="ui-property-card__name">Building name here</span>
      <span class="ui-property-card__type">Property type</span>
    </div>

    <div class="ui-property-card__body-bottom">
      <div class="ui-property-card__meta">
        <span class="ui-property-card__agency">Shell &amp; Core</span>
        <span class="ui-property-card__price">799,000 AED</span>
      </div>
    </div>
  </div>
</div>
