<div class="ui-radio-group">
  <fieldset class="ui-form-element slds-form-element">
    <legend class="ui-form-element__legend slds-form-element__legend slds-form-element__label">
      Radio Group Label
    </legend>
    <div class="ui-form-element__control slds-form-element__control">
      <span class="ui-form-element__radio slds-radio">
        <input type="radio" id="radio-19" name="options" value="radio-19" />
        <label class="slds-radio__label" for="radio-19">
          <span class="slds-radio_faux"></span>
          <span class="slds-form-element__label">Radio Value One</span>
        </label>
      </span>
      <span class="ui-form-element__radio slds-radio">
        <input type="radio" id="radio-20" name="options" value="radio-20" />
        <label class="slds-radio__label" for="radio-20">
          <span class="slds-radio_faux"></span>
          <span class="slds-form-element__label">Radio Value Two</span>
        </label>
      </span>
    </div>
  </fieldset>
</div>
