<div class="ui-radio-group">
  <fieldset class="slds-form-element">
    <legend
      class="ui-form-element__legend slds-form-element__legend slds-form-element__label"
    >
      Radio Group Label
    </legend>
    <div class="slds-form-element__control">
      <span class="ui-form-element__radio slds-radio">
        <input
          type="radio"
          id="radio-23"
          name="options"
          disabled=""
          value="radio-23"
        />
        <label class="slds-radio__label" for="radio-23">
          <span class="slds-radio_faux"></span>
          <span class="slds-form-element__label">Radio Value One</span>
        </label>
      </span>
      <span class="ui-form-element__radio slds-radio">
        <input
          type="radio"
          id="radio-24"
          name="options"
          disabled=""
          value="radio-24"
        />
        <label class="slds-radio__label" for="radio-24">
          <span class="slds-radio_faux"></span>
          <span class="slds-form-element__label">Radio Value Two</span>
        </label>
      </span>
    </div>
  </fieldset>
</div>
