<div class="ui-related-list-card ui-card" style="width:320px;">
  <div class="ui-card__content">
    <span class="ui-card__title">
      <img class="ui-icon" src="/assets/svg/contact.svg" />
      <span class="ui-card__title-text">
        Contacts (
        <span class="">3</span>
        )
      </span>
      <button
        class="ui-button ui-button--default"
        style="min-width:64px;position:absolute;right:0;"
      >
        New
      </button>
    </span>
    <div class="ui-accordion">
      <ul>
        <li class="slds-accordion__list-item">
          <section class="slds-accordion__section slds-is-open">
            <div class="slds-accordion__summary">
              <h3 class="slds-accordion__summary-heading">
                <button
                  aria-controls="accordion-details-01"
                  aria-expanded="true"
                  class="slds-button slds-button_reset slds-accordion__summary-action"
                >
                  <img src="/assets/svg/contact-light.svg" />
                  <span class="ui-accordion__title slds-truncate">
                    Related Record Title 2
                  </span>
                  <img class="ui-icon" src="/assets/svg/arrow-down.svg" />
                </button>
              </h3>
            </div>
            <div
              aria-hidden="false"
              class="slds-accordion__content"
              id="accordion-details-01"
            >
              <dl>
                <dt>Label:</dt>
                <dd>Description for first label</dd>
                <dt>Label 2:</dt>
                <dd>Description for second label</dd>
              </dl>
            </div>
          </section>
        </li>
        <li class="slds-accordion__list-item">
          <section class="slds-accordion__section slds-is-open">
            <div class="slds-accordion__summary">
              <h3 class="slds-accordion__summary-heading">
                <button
                  aria-controls="accordion-details-01"
                  aria-expanded="true"
                  class="slds-button slds-button_reset slds-accordion__summary-action"
                >
                  <img src="/assets/svg/contact-light.svg" />
                  <span class="ui-accordion__title slds-truncate">
                    Related Record Title 2
                  </span>
                  <img class="ui-icon" src="/assets/svg/arrow-down.svg" />
                </button>
              </h3>
            </div>
            <div
              aria-hidden="false"
              class="slds-accordion__content"
              id="accordion-details-01"
            >
              <dl>
                <dt>Label:</dt>
                <dd>Description for first label</dd>
                <dt>Label 2:</dt>
                <dd>Description for second label</dd>
              </dl>
            </div>
          </section>
        </li>
        <li class="slds-accordion__list-item">
          <section class="slds-accordion__section slds-is-open">
            <div class="slds-accordion__summary">
              <h3 class="slds-accordion__summary-heading">
                <button
                  aria-controls="accordion-details-01"
                  aria-expanded="true"
                  class="slds-button slds-button_reset slds-accordion__summary-action"
                >
                  <img src="/assets/svg/contact-light.svg" />
                  <span class="ui-accordion__title slds-truncate">
                    Related Record Title 2
                  </span>
                  <img class="ui-icon" src="/assets/svg/arrow-down.svg" />
                </button>
              </h3>
            </div>
            <div
              aria-hidden="false"
              class="slds-accordion__content"
              id="accordion-details-01"
            >
              <dl>
                <dt>Label:</dt>
                <dd>Description for first label</dd>
                <dt>Label 2:</dt>
                <dd>Description for second label</dd>
              </dl>
            </div>
          </section>
        </li>
      </ul>
    </div>
    <div class="ui-card__action">
      <button class="ui-accordion__button ui-button ui-button--default">
        See more
      </button>
    </div>
  </div>
</div>
