<div class="search-bar search-bar--collapsed">
  <button class="search-bar__button">
    <span class="search-bar__icon">
      <img
        src="/assets/svg/magnifier-icon-dark.svg"
        alt="search icon"
        class="search-bar__icon-image icon-image"
      />
    </span>
  </button>
  <div class="control-group">
    <label class="search-bar__label" for="search-bar__field"></label>
    <input
      class="search-bar__field"
      id="search-bar__field"
      placeholder="Search for information or documents"
      type="text"
    />
  </div>
</div>
