<div class="ui-service-request-card ui-card">
  <h3 class="ui-service-request-card__title">Service request name</h3>
  <p class="ui-service-request-card__text">
    A description of how request work. Explain to the user that our recomended
    actions are in next steps and a list of all service request are in the All
    Services tab.
  </p>

  <div class="ui-card__action ui-card__action--spread">
    <span class="ui-service-request-card__time">about 4 days</span>
    <a href="#" class="ui-button ui-button--default">View request</a>
  </div>
</div>
